.header {
    margin-top: 20px;
}

.nav {
    margin: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.nav__logo {
    margin-right: 20px;
    color: #333;
}

.nav_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__item {
    margin-right: 20px;
}

.nav__link {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .nav.container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__item {
        margin: 10px 0;
    }

    .nav__logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
}